body{
	background-image: url("bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}


ul li{
	list-style: none;
    padding-left: 12px;
    display: inline;

}
ul li a{
	text-decoration: none;
	color:white;
	font-size: 11px;
}
div.row{
	background-color: rgba(110, 138, 138, 0.6);  
}