body{
	background-image: url("bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}


ul li{
	list-style: none;
    padding-left: 12px;
    /*text-align: center;*/
    display: inline;

}
ul li a{
	text-decoration: none;
	color:white;
	font-size: 11px;
}
